.paginado {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.number {
  margin-right: 10px;
}

.button {
  cursor: pointer;
  background: rgba(240, 248, 255, 0.278);
  border-color: rgba(0, 0, 255, 0.49);
  border-radius: 5px;
}
