.padreCard {
  background-color: rgba(240, 248, 255, 0.478);
  border: solid rgba(0, 0, 0, 0.284);
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
    border-radius: 10px;
}

.image {
  width: 160px;
  height: 160px;
  padding: 0 50px;
  cursor: pointer;
}

.name {
  font-family: 'Lato', sans-serif;
  color: rgba(11, 11, 156, 0.955);
}

.type {
  color: rgba(11, 11, 156, 0.955);
  font-family: 'Lato', sans-serif;

}
