.body {
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 120px auto 0;
  border-color: black;
  width: 66%;
}

.button {
  width: 30px;
  height: 30px;
}

.link {
  text-decoration: none;
  margin-bottom: 60px;
  width: 265px;
}

.filters {
  display: flex;
  justify-content: center;
}

.orderBy, .filterByType {
  margin-right: 200px;
}