.body {
  margin: 0;
  padding: 0;
}
.main {
  overflow: hidden;
  height: 80vh;
}
.padreCreate {
  width: 100%;
  height: 100%;
  position: absolute;
}
.createPokemon {
  font-family: 'Bungee Spice', cursive;
  color: rgba(8, 8, 112, 0.96);
  margin-top: -20px;
  margin-bottom: 15px;
}
.devolver {
  font-family: 'Bungee Spice', cursive;
  text-decoration: none;
  font-size: 20px;
  margin-top: 45px;
  display: flex;
  margin-left: 87px;
}
.imagen {
  display: flex;
}
.logoPokemon {
  width: 117px;
  position: absolute;
  margin-left: 86%;
  margin-top: -5%;
}
.formulario {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.primerFormulario {
  text-align: left;
  width: 500px;
}

.layout-types {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
.group {
  display: block;
  margin-bottom: 15px;
}
.nombre {
  display: flex;
  flex-direction: column;
  color: rgba(8, 8, 112, 0.96);
  font-family: 'Bungee Spice', cursive;
}
.input {
  width: 200px;
  height: 30px;
  background-color: rgba(240, 248, 255, 0.478);
  color: rgba(8, 8, 112, 0.96);
  border-radius: 5px;
}

.formularioTypes {
  width: 500px;
}

.tituloTypes {
  color: rgba(8, 8, 112, 0.96);
  font-family: 'Bungee Spice', cursive;
  font-size: 22px;
}

.types {
  width: 20%;
  text-align: left;
  margin-bottom: 25px;
  color: rgba(8, 8, 112, 0.96);
  font-family: 'Bungee Spice', cursive;
}

.button {
  background-color: rgba(8, 8, 112, 0.96);
  color: aliceblue;
  width: 150px;
  height: 30px;
  margin-top: 80px;
  font-family: 'Bungee Spice', cursive;
  cursor: pointer;
}
