.body {
  margin: 0;
  padding: 0;
}
.main {
  overflow: hidden;
  height: 80vh;
}
.padreCreate {
  width: 100%;
  height: 100%;
  position: absolute;
}
.createPokemon {
  font-family: 'Lato', sans-serif;
  color: rgba(8, 8, 112, 0.96);
  margin-top: -20px;
  margin-bottom: 15px;
}
.devolver {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-top: 45px;
  display: flex;
  margin-left: 87px;
}
.imagen {
  display: flex;
}
.logoPokemon {
  width: 117px;
  position: absolute;
  margin-left: 86%;
  margin-top: -5%;
}
.formulario {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 800px;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.273);
  border: solid rgba(242, 240, 240, 0.625);
  margin-left: 200px;
  box-shadow: 2px 2px 15px #eff5ef5c inset;
  color: #e8e8e8;
 padding: 30px 30px 30px 20px;
 border-radius: 20px;
}


.primerFormulario {
  text-align: left;
  width: 400px;
  border-radius: 5px;
 
  border: blue;

  
}


.layout-types {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
.group {
  display: block;
  margin-bottom: 2px;
}
.nombre {
  display: flex;
  flex-direction: column;
  color: rgba(8, 8, 112, 0.96);
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  position: relative;
  
}
.input {
  width: 200px;
  height: 30px;
  background-color: rgba(240, 248, 255, 0.478);
  color: rgba(8, 8, 112, 0.96);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  flex-direction: column;
  display: flex;
  /* box-shadow: 0 0 0 2px darken(steelblue 30); */
 
}

.formularioTypes {
  width: 500px;
  border-radius: 5px;
  
 
}

.tituloTypes {
  color: rgba(8, 8, 112, 0.96);
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

.types {
  width: 20%;
  text-align: left;
  margin-bottom: 25px;
  color: rgba(8, 8, 112, 0.96);
  font-family: 'Lato', sans-serif;
}

.button {
  background-color: rgba(8, 8, 112, 0.96);
  color: aliceblue;
  width: 150px;
  height: 40px;
  margin-top: 80px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.pokeBola{
  width: 300px;
  position: absolute;
  right: 30px;
  display: flex;
  bottom: 100px;

}
