

.landing{
    width: 100%;
    height: 100%;
    position: absolute;
}


.titulo{
    font-family: 'Lato', sans-serif;
    right: 180px;
    top: 40%;
    position: absolute;
    text-align: center;
    color: rgba(8, 8, 80, 0.896);

}

.button{
    height: 56px;
    width: 250px;
    border-radius: 18px;
    background: linear-gradient(to right, transparent 50%, rgba(230, 252, 87, 0.815) 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;;
    margin-top: 450px;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 10px;
    margin-left:737px;
    cursor: pointer;
    color: rgba(8, 8, 80, 0.896);
   
    
    
}

.button:hover {
    background-position: right;
   
}

.imagenPokemones{
    width: 500px;
    left: 160px;
    position: absolute;
    top: 200px;

}