.contenedor{
   
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}
.return{
    margin-left: 80px;
    position: absolute;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: rgba(10, 10, 172, 0.896);
}
.name{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-left: 400px;
    position: absolute;
    margin-top: 50px;
    color: rgba(10, 10, 172, 0.896);
}

.image{
    width: 400px;
    height: 400px;
    margin-top: 150px;
    margin-left: 200px;
}

.contenedor2{
    margin-left: 220px;
    margin-top: 150px;
    font-family: 'Lato', sans-serif;
    color: rgba(10, 10, 172, 0.896);
    box-shadow: rgba(248, 245, 245, 0.25) 0px 54px 55px, rgba(255, 253, 253, 0.12) 0px -12px 30px, rgba(223, 195, 31, 0.12) 0px 4px 6px, rgba(241, 19, 19, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: solid rgba(242, 240, 240, 0.344);
    width: 400px;
    height: 420px;
    background-color: rgba(240, 248, 255, 0.303);
    border-radius: 10px;
    
}
.logoPokemones {
    right: 40px;
    top: 20px;
    height: 50px;
    position: absolute;

}

.titulo{
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    color: rgba(16, 16, 167, 0.96);
    font-size: 25px;
}

.padreButton{
    display: flex;
    
}
.buttonDelete{
    width: 59px;
    height: 35px;
    margin-top: 100px;
    margin-right: 0px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.647);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    
  
}